.mainCalc {
    width: 24rem;
    margin-left: 22rem;
    height: 26rem;
    margin-top: 10rem;
}

.mainCalc div {
    border: solid black 1px;
    display: flex;
}

.row {
    height: 20%;
    background-color: #61B34F;
    color: white;
}

.clear {
    flex: 1 1 25%;
    justify-content: center;
}

.display {
    flex: 1 1 75%;
    justify-content: center;
}

.number {
    flex: 1 1 25%;
    justify-content: center;
}

.operator {
    flex: 1 1 25%;
    justify-content: center;
    background-color: #82C276;
    color: #4A7042;
}

.decimal {
    flex: 1 1 25%;
    justify-content: center;
}

.equal {
    flex: 1 1 25%;
    justify-content: center;
}