.mainCalc {
    width: 30%;
    margin-left: 22rem;
    height: 26rem;
    margin-top: 10rem;
    font-size: xx-large;
}

.mainCalc div {
    outline: 1px white solid;
    display: flex;
}

.row {
    height: 20%;
    background-color: #61B34F;
    color: white;
}

.clear {
    flex: 1 1 25%;
    justify-content: center;
    padding-top: 1rem;
    background-color: #61B34F;
    color: white;
}

.clear:hover {
    background-color: #82C276;
}

.display {
    flex: 1 1 75%;
    justify-content: center;
}

.display p {
    margin-left: 12rem;
}

.inputs {
    height: 79%;
    flex-wrap: wrap;
    background-color: #61B34F;
    color: white;
}

.inputs div {
    justify-content: center;
    padding-top: 1rem;
}

.number {
    flex: 1 1 24%;
}

.operator {
    flex: 1 1 24%;
    background-color: #82C276;
    color: #4E7545;
}

.operator:hover {
    background-color: #82C276;
    color: white;
}

.decimal {
    flex: 1 1 24%;
}

.equals {
    flex: 1 1 24%;
}

.equal:hover {
    background-color: #82C276;
}